/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

#Login {
	text-decoration: none;
	color: #000000;
}

.display {
	display: none;
} 

.header_admin{
	display: none;
	position: relative;
	top: 0;
    left: 0;
    width: 100%;
	height: 59px;
	background-color: #000000;
	align-items: center;
    justify-content: center;
	gap: 21px;
	margin: 0;
	padding: 0;
}

.header_admin button {
	background: #FFFFFF;
	border-radius: 60px;
	width: 216px;
	height: 38px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border: none;
}

.pop_modale_header{
	display: flex;
	color: #FFFFFF;
	font-size: 16px;
	gap: 10px;
	cursor: pointer;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}

.pop_modale_introduction{
	display: none ;
	position: relative;
	left: -474px;
    top: 184px;
	gap: 10px;
	align-items: center;
	cursor: pointer;
}

.pop_modale_introduction i {
	font-size: 20px;
}

.pop_modale_introduction p {
	margin-bottom: 0 !important;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

.pop_modale_portfolio{
	display: none ;
	position: relative;
	left: 701px;
    top: -53px;
	gap: 10px;
	cursor: pointer;
	align-items: center;
}

.pop_modale_portfolio i {
	font-size: 20px;
}

.modale {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);

}

.modale_modif_content {
	box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 32px 35px;
    width: 630px;
}

.modale_modif_content p {
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
}

.nav_modal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.gallery_modale {
	width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 7px;
	margin: 46px auto;
	padding-bottom: 46px;
	border-bottom: 1px solid #B3B3B3;
}

.gallery_modale img {
	width: 100%;
}

.trashBinContainer {
	background: #000000;
	border-radius: 2px;
	width: 17px;
	height: 17px;
	display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
    bottom: 117px;
    left: 58px;
	cursor: pointer;
}

.trashBinContainer i {
	color: white;
    font-size: 8px;
}

.footer_modale {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.button_modale {
	width: 237px;
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	text-align: center;
	margin-bottom: 23px;
	border-radius: 60px ;
	cursor: pointer;
	border: none;
}

.footer_modale a {
	color: #D65353;
	text-decoration: none;
}

.modale_add {
	display: none;
}

.form_addPhoto {
	padding-bottom: 47px;
	border-bottom: 1px solid #B3B3B3;
	margin: 46px auto;
	width: 420px;
}

.label_file_container {
	display: flex;
	flex-direction: column;
	background: #E8F1F7;
	border-radius: 3px;
	width: 420px;
	height: 169px;	
	align-items: center;
    justify-content: center;
}

.form_addPhoto form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.form_addPhoto input, .form_addPhoto select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


.label_file_container label {
	background: #CBD6DC;
	border-radius: 50px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #306685;
	width: 173px;
	height: 36px;
	display: flex;
    justify-content: center;
    align-items: center;
	cursor: pointer;
}

.label_file_container i {
	font-size: 58px;
}

.label_file_container span {
	font-size: 10px;
	color: #444444;
}

#previewImage {
	display: block;
	max-width: 169px;
	margin: 0 auto;
}

.form_addPhoto label {
	margin: 2em 0 1em 0;
}
.form_addPhoto textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form_addPhoto button {
	height:36px !important;
	width:237px !important;
} 

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filterContainer {
	display: flex;
	margin: 51px 0;
	justify-content: center;
	gap: 10px;
}

.buttonfilter {
	display: flex;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	height: 37px;
	font-size: 16px;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	font-family: "Syne";
	min-width: 100px;
	cursor: pointer;
	background-color: white;
}

.buttonSelected{
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], button[type="button"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

								 /* login */

.containerLogin {
	display: flex;
	flex-direction: column;
    align-items: center;
	height: 872px;
	margin-top: 150px;
}

.containerLogin p {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	margin-bottom: 37px;
}

.containerIdentification b {
	font-weight: bold;
	font-size: 14px;
	color: #3D3D3D;
	font-family: 'Work Sans';
}

.containerIdentification a {
	color: #3D3D3D;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Work Sans';
}

.containerIdentification label {
	margin-bottom: 8px;
}

.inputContainer {
	width: 379px;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background: #FFFFFF;
	border-color: white;
	border: none;
	margin-bottom: 30px;
}

#summit {
	background: #1D6154;
	border-radius: 60px;
	width: 179px;
	height: 36px;
	border: none;
}


.containerLogin form {
	display: flex;
    flex-direction: column;
}


